/** general **/
.content_drop {
	margin-top: 100px;
}
article.general_info ul {
  	list-style: inherit;
  	margin: 0 0 10px 25px;
}

/** FAQ **/

/** downlaod **/
article.download .text_guide h3 {
	font-weight: bold;
	margin: 0;
  	line-height: normal;
}
article.download p {
	margin: 5px 0 25px 0;
}

article.download section h4{
	/*text-decoration: underline;*/
}

/** Finanzierung **/

article.download section:not(:first-of-type) {
    margin-bottom: 15px;
}

article.download section a, article.general_info section a  {
  font-size: 1em;
  font-weight: normal;
}

article.download section a:hover, article.general_info section a:hover {
	color: pink;
}