<%= render 'partials/second_nav' %>



<section class="container content_drop">
    <section id="showintern">
        <header>
        	<h2 class="user_titel"><%= t("header.exchange") %></h2>
      	</header>
      	<div class="col-1">
      		<table class="table jobs">
				<tbody>
					<% @offers.each do |x| %>
						<tr class="<%= cycle("even_row2", "odd_row2") %> fav_raw_click">
							<td><%= link_to x.title, x %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
      	</div>
    </section>
</section>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br>