<footer>
    <div class="container">
        <div class="im-items">
          	<div class="footer-text">
          		Dies ist ein Projekt im Rahmen der Hochschule für Technik und Wirtschaft.
          	</div>
        	<div class="htw_logo"></div>
        	<div class="imi_logo"></div>
        </div>
    </div>
</footer>