<!-- Slider start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="title">
                        <h3>Featured <span>Works</span></h3>
                    </div>
                    <div id="owl-example" class="owl-carousel">
                        <% @lastInternships.each do |lastTen| %>
                            <figure>
                                <%= image_tag "orientations/slider-img-#{lastTen.orientation.name.downcase}.png", class:"img-responsive", alt: "" %>
                                <figcaption>
                                    <h3><%= lastTen.title %></h3>
                                    <p><%= lastTen.tasks.truncate(111) %></p>
                                    <p><%= link_to "Read More", lastTen %></p>
                                </figcaption>
                            </figure>
                        <% end %>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- slider close -->
<!-- about-us start -->