<%= render 'partials/second_nav' %>

<article class="container">
	<section class="changeUser">
		<header>
			<h1><%= t ".edituser" %></h1>
		</header>
	</section>
	<section class="editUser">
		<%= render 'form' %>
	</section>
</article>

