<%= render 'partials/second_nav' %>



<section class="container content_drop">
  	<section id="editUser">
     	<header>
        	<h2 class="user_titel"><%= t ".edituser" %></h2>
      	</header>
		<%= render 'form' %>
	</section>
</section>
<br><br><br><br><br><br><br><br>