<%= render 'partials/second_nav' %>

<article class="container content_drop">
	<section class="text_guide">
		<section class="changeUser">
			<header>
				<h1><%= t ".edituser" %></h1>
			</header>
		</section>
		<section class="editUser">
			<%= render 'form' %>
		</section>
	</section>
</article>

