<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <%= image_tag "logo_anim.gif", class:"wow fadeInUp", :data=>{:'wow-duration'=>"300ms", :'wow-delay'=>"400ms"},  alt:"imi-map_logo", size: "10%" %>
                    <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms" >Some <span>Fancy </span> HeaderText  </br><span>that looks Good</span>
                    </h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </br>voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
                    <h5>To explan what IMI-Map is</h5>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #call-to-action close -->