/*
label{
  font-size:17px
}

input{
width:400px;
padding:10px;
margin-top:10px;
margin-bottom:35px;
border-radius:5px;
border:1px solid #cbcbcb;
box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
font-size:16px
}
textarea{
width:400px;
height:100px;
padding:10px;
margin-top:10px;
margin-bottom:35px;
border-radius:5px;
border:1px solid #cbcbcb;
box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
font-size:16px
}
input[type=submit]{
background:linear-gradient(to bottom,#22abe9 5%,#36caf0 100%);
box-shadow:inset 0 1px 0 0 #7bdcf4;
border:1px solid #0F799E;
color:#fff;
font-size:19px;
font-weight:700;
cursor:pointer;
text-shadow:0 1px 0 #13506D
}
input[type=submit]:hover{
background:linear-gradient(to bottom,#36caf0 5%,#22abe9 100%)
}

#edit_intern{
  margin-top: 70px;
  margin-left: 0;
  padding: 30px 5px 30px 50px;
  background-color: #333
}

#interSpec{
  float: left;
  margin-right: 15%
}


.internRating{
  padding-left: 40px;
  margin-bottom: 50px
}

#internRating{
  float: left;
  margin-right: 15%
}

section.ratings label {
  padding: 15px 0;
}

#internRating .edit-rating {
  margin-left: 0 !important;
}

.rating_star {
  background: url('images/star.png') 0 0;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}

section.internRating{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.one {
  width: 200px;
  height: 100px;
}

.one .edit-rating { margin-left: 0}

section.comment {
  clear: both;
}

#internship_description {
  width: 90% !important;
  height: 300px;
}

.attachment{ margin-left: 0}
.editInternBtn{ margin-right: 50px}
#internship_orientation_id_chzn, #internship_semester_id_chzn, #internship_programming_language_ids_chzn{ width: 414px !important}


#triangle_right { 
  width: 0; 
  height: 0; 
  border-top: 20px solid #568501; 
  border-left: 20px solid transparent; 
  border-bottom: 20px solid #568501; 
  position: absolute;
  top: 177px;
  margin-left: 1007px;
}



#triangle_left { 
  width: 0; 
  height: 0; 
  border-top: 20px solid #568501; 
  border-right: 20px solid transparent; 
  border-bottom: 20px solid #568501; 
  position: absolute;
  top: 177px;
  margin-left: 1150px;
}


.on {
  background-position: 0 16px;
}



.map-intern, #map3 { width: 100% !important; height: 450px}
*/
/**** Show ****/
section.internship {
  margin-left: 50px;
}
section.company article,
section.ratings article {
  margin-left: inherit;
}

.internedit > form {
  display: block;
  margin: 30px;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  font-size: 0;
  width: 102.5%;
}
 
.internedit > form > div > label {
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}
.internedit > form > div.switch > label {
  padding: 16px 20px 13px;
}
 
.col-2, .col-3, .col-4 { 
  border-bottom: 1px solid #e4e4e4;
}
 
.internedit > form > div > .col-4 {
  height: 86px;
}
 
.internedit > label > input {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  color: #555;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  opacity: .6;
  transition: all linear .3s;
}

select#internship_company_id{ width: 88% }
section.internedit select { border-bottom: 1px solid lightgray }
textarea#internship_description, input#internship_working_hours { width: 90% }
.col-submit {
  text-align: center;
  padding: 20px;
}
 
.internedit > label > select {
  display: block;
  width: 100%;
  padding: 0;
  color: #555;
  margin: 16px 0 6px;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  opacity: .4;
  transition: all linear .3s;
}
 
.internedit > label > input:focus, label > select:focus { opacity: 1 }

.internedit .edit-rating { margin-left: 0; margin-top: 10px; padding-bottom: 20px }

input.btn.btn-success.saveinternship {
    background-color: green !important;
    font-size: 15px;
    background-image: none;
    border: none;
    border-radius: 0;
    width: 95%;
    height: 35px;
    margin: 20px 0 20px;
}
input.btn.btn-success.saveinternship:active{
    background-color: lightgreen !important;
}
.action { width: 100% }
@media(min-width: 850px){
  .internedit > form > div { display: inline-block; }
  .col-submit { display: block; }
 
  .col-1, .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }
  
  .col-1 { width: 100% }
  .col-2 { width: 50% }
  .col-3 { width: 33.3333333333% }
  .col-4 { width: 25% }
 
  .col-submit button { width: 30%; margin: 0 auto; }
}