// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#userProfile{
  display: block;
  margin: 30px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  font-size: 0;
  width: 102.5%
}

#userProfile > div > label {
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}
#userProfile > div.switch > label {
  padding: 16px 20px 13px;
}
 
.col-2, .col-3, .col-4 { 
  border-bottom: 1px solid #e4e4e4;
}
 
#userProfile > div > .col-4 {
  height: 86px;
}
 
label > .profilecontent {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  color: black;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  opacity: .6;
  transition: all linear .3s;
}
 
.col-submit {
  text-align: center;
  padding: 20px;
}
 
label > select {
  display: block;
  width: 100%;
  padding: 0;
  color: #555;
  margin: 16px 0 6px;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  opacity: .4;
  transition: all linear .3s;
}
 
label > input:focus, label > select:focus {
  opacity: 1;
}

.user_titel{ margin-top: 0 }
.profilecontent { color: black; padding: 5px 0 0 10px }
.icon-3x.fa.fa-check{ color: green}
.icon-3x.fa.fa-times{ color: red}
.internshipList { padding-top: 10px }
.internshipList a { margin: -1px 5% 0 0 }
.col-1.even_row { background-color: transparent }
.col-1.odd_row { background-color: aliceblue }
.col-1 .commentsList p { margin: 10px 0 }
@media(min-width: 850px){
  #userProfile label > div { display: inline-block; }
  .col-submit { display: block; }
 
  .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }
  
  .col-2 { width: 50% }
  .col-3 { width: 33.3333333333% }
  .col-4 { width: 25% }
 
  .col-submit button { width: 30%; margin: 0 auto; }
}




/*
.form-block {
  width: 700px;
  height: 450px;
  background-color: #333333;
  padding: 15px 15px 100px 30px;
  color: #ffffff;
  font-weight: 100;
  -moz-box-shadow:      4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           4px 6px 1px 0px rgba(0, 0, 0, 0.3);
}

.row_margin_bottom {
  margin-bottom: 25px;
}

input.submit.btn.btn-success { width: 250px}

.simform__actions { padding: 0}
.offset7 { margin-left: 220px; }

#form-block2 {
  background-color: #333333;
  color: #FFFFFF;
  font-weight: 100;
  height: 96%;
  margin-left: 0;
  padding: 30px 5px 30px 50px;
  width: 90%;
  -moz-box-shadow:      4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           4px 6px 1px 0px rgba(0, 0, 0, 0.3);
}

#form-block3 {
  background-color: #333333;
  color: #FFFFFF;
  font-weight: 100;
  height: 96%;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 30px 5px 30px 50px;
  width: 68%;
  -moz-box-shadow:      4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           4px 6px 1px 0px rgba(0, 0, 0, 0.3);
}

#form-block4 {
  background-color: #FFFFFF;
    color: #000000;
    font-weight: 100;
    height: 96%;
    margin-bottom: 30px;
    margin-left: 130px;
    margin-top: 50px;
    padding: 30px 5px 30px 50px;
    width: 68%;
  -moz-box-shadow:      4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:   4px 6px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow:           4px 6px 1px 0px rgba(0, 0, 0, 0.3);
}
.textlabel {
  color: #ff0000;
  text-decoration: underline;
}

#internship_description {
  width:100%;
  height:300px;
}

.error_explanation {
  color: #ff0000;
  padding-left: 15px;
}

.line_intern {
  background-color: #80b900;
  height: 3px;
  width: 100%;
  margin: 10px 0 10px 0;
}

.edit-rating {
  margin-left: -15px;
  margin-top: 0px; 
}
#field-titles2 {
  line-height:17px; 
  margin-bottom:15px;
  width: 350px;
}

article.profile, section.changeUser{ margin-top: 150px }
article.profile, article.intern, article.comments, section.editUser{
  margin-left: 0 50px;
  border-bottom: solid 1px rgba(245,245,245, .89);
  padding-bottom: 15px;
}

*/